<div id="waldo-image" class="photo">
  <%= image_tag("ww_giant_image.jpg") %>
  <select class="char-select dropdown">
    <option></option>
    <option>Waldo</option>
    <option>Wenda</option>
    <option>Odlaw</option>
    <option>Wizard Whitebeard</option>
    <option>Woof</option>
  </select>
</div>

<div class="box">
</div>
